<a href="{{ "/pages/course/index" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">课程笔记</h2></a>
<a href="{{ "/pages/note/index" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">随笔一记</h2></a>
<a href="{{ "/pages/diary/index" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">个人日记</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">归档</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">关于作者</h2></a>
